<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="#{infnet}"></title>

    <link rel="stylesheet" th:href="@{/css/avaliacao.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/infnet.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/application.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/terceiros/avaliacao.min.js}"></script>
    <script th:src="@{/js/terceiros/infnet.min.js}"></script>
    <script th:src="@{/js/terceiros/bloquearBotaoVoltarNavegador.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="aw-layout-page">

    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div id="msgAviso" style="display:none;">
                <span style="color: red" th:text="#{erro.btn.voltar.navegador}"></span>
            </div>

            <div class="col-lg-12"> &nbsp; </div>
            <img id="logo" alt="Infnet" th:src="@{/images/imagem_avaliacao.png}"/>
            <h1 th:text="#{avaliacao.agradecimento}"></h1>
        </div>
    </div>

    <footer class="aw-layout-footer js-content is-toggled">
        <div class="container-fluid">
            <span class="aw-footer-disclaimer">&copy; <span th:text="#{rodapetemplate}"></span></span>
        </div>
    </footer>

</div>

</body>
</html>