<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutAvaliacao"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <script th:src="@{/js/resposta/avaliacao/form.js}"/>
</head>

<body>
    <section layout:fragment="conteudoAvaliacao">
        <form method="POST" th:action="@{/resposta/avaliacao/save}" th:object="${avaliacaoDTO}" id="form">
            <input type="hidden" th:field="*{turmaDTO.id}"/>
            <input type="hidden" th:field="*{alunoDTO.nome}"/>
            <input type="hidden" th:field="*{alunoDTO.cpf}"/>
            <input type="hidden" th:field="*{indiceTopico}" id="indiceTopico"/>
            <div class="col-sm-12">
                <span th:each="wrapper : ${perguntaAssociadaWrapperList}">
                    <h4 th:text="${wrapper.templateTopicoDTO.enunciado + ':'}"></h4>
                    <span th:each="templatePergunta,status : ${wrapper.templatePerguntaDTOList}">
                        <div class="col-sm-12">
                            <h4>
                                <span th:text="${status.count + '.' }"></span>
                                <span th:text="${templatePergunta.questao}"></span>
                            </h4>
                        </div>
                        <div class="col-sm-12" th:if="${!#strings.contains(templatePergunta.questao, '?')}">
                            <span th:each="multiplaEscolha : ${templatePergunta.multiplaEscolhaEnumList}">
                                <div class="col-sm-4">
                                    <h4>
                                        <input type="radio" th:value="${multiplaEscolha}" th:name="${status.count + 'radio'}"/>
                                        <span th:text="#{${multiplaEscolha.id}}"></span>
                                    </h4>
                                </div>
                            </span>
                            <div class="row">&nbsp;</div>
                            <div class="row">&nbsp;</div>
                        </div>
                        <div class="col-sm-12" th:if="${#strings.contains(templatePergunta.questao, '?')}">
                            <textarea cols="150" rows="10"></textarea>
                        </div>
                    </span>
                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>
                </span>
                <input id="proximo" type="submit" class="btn btn-primary" th:value="#{btn.proximo}" th:if="${exibirBotaoProximo}"/>
                <input id="salvar" type="submit" class="btn btn-primary" th:value="#{btn.salvar}" th:if="${exibirBotaoSalvar}"/>
            </div>
        </form>
    </section>
</body>
</html>