.ajustarPosicaoElementosNaTela {
    margin-left: 20px;
}

th, td{
    text-align: center;
    font-family: sans-serif;
}

div.textoCamposObrigatorios{
    margin-top: -40px;
}

.corVermelho{
    color: #ee0000;
}

.alinharModal{
    margin-top: 200px;
}

#logo{
    margin-top: -15px;
}
