<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="#{infnet}"></title>

    <link rel="stylesheet" th:href="@{/css/avaliacao.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/infnet.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/application.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/avaliacao.min.js}"/>
    <script th:src="@{/js/infnet.min.js}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="aw-layout-page">

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="col-lg-12"> &nbsp; </div>
            <img id="logo" alt="Infnet" th:src="@{/images/imagem_avaliacao.png}"/>

            <div class="col-lg-12"> &nbsp; </div>
            <div th:if="${avaliacaoDTO ne null}">
                <div class="col-sm-6">
                    <h3> Aluno: <span th:text="${avaliacaoDTO.alunoDTO.nome}"></span></h3>
                </div>
                <div class="col-sm-6">
                    <h3> CPF: <span th:text="${avaliacaoDTO.alunoDTO.cpf}"></span></h3>
                </div>
                <div class="col-sm-12">
                    <h3> Módulo: </h3>
                </div>

                <div class="col-sm-12">
                    <h5 th:text="#{template.avaliacao.texto.padrao}"></h5>
                </div>

                <section layout:fragment="conteudoAvaliacao">
                    <p>Conteúdo principal</p>
                </section>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${avaliacaoDTO eq null}">
                <span th:text="#{avaliacao.erro.cpf.nao.encontrado}"></span>
            </div>
        </div>
    </div>

    <footer class="aw-layout-footer js-content is-toggled">
        <div class="container-fluid">
            <span class="aw-footer-disclaimer">&copy; <span th:text="#{rodapetemplate}"></span></span>
        </div>
    </footer>

</div>

</body>
</html>