<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Infnet</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/avaliacao.min.css}"/>
    <script th:src="@{/js/avaliacao.min.js}"/>
</head>

<body>

<div id="fullscreen_bg" class="fullscreen_bg"/>
<form class="form-signin">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-signin">
                            <h3 class="text-center">
                                Login<br/><br/></h3>
                            <div class="form-group">
                                <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                            </span>
                                    <input type="text" class="form-control" placeholder="Usuário" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    <input type="password" class="form-control" placeholder="Senha" />
                                </div>
                            </div>
                            <a th:href="@{/home}" class="btn btn-lg btn-primary btn-block">Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>