<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="#{infnet}"></title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/avaliacao.min.css}"/>
    <script th:src="@{/js/avaliacao.min.js}"></script>
</head>

<body>

<div id="fullscreen_bg" class="fullscreen_bg">
    <a class="navbar-brand  hidden-xs" th:href="@{/?lang=pt}">
        <img id="icone_brasil" th:src="@{/images/icone_brasil.png}" width="80px" height="50px"
             th:title="#{icone.brasil}"/>
    </a>
    <a class="navbar-brand  hidden-xs" th:href="@{/?lang=en}">
        <img id="icone_americano" th:src="@{/images/icone_americano.png}" width="70px" height="50px"
             th:title="#{icone.americano}"/>
    </a>
    <a class="navbar-brand  hidden-xs" th:href="@{/?lang=es}">
        <img id="icone_espanha" th:src="@{/images/icone_espanha.png}" width="70px" height="50px"
             th:title="#{icone.espanha}"/>
    </a>
</div>
<form class="form-signin">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-signin">
                            <h3 class="text-center" th:text="#{login}"> <br/><br/></h3>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <input type="text" class="form-control" th:placeholder="#{usuario}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    <input type="password" class="form-control" th:placeholder="#{senha}"/>
                                </div>
                            </div>
                            <a th:href="@{/home}" class="btn btn-lg btn-primary btn-block" th:text="#{entrar}"></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>