<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

    <div class="modal fade" id="modalExcluir" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content alinharModal">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel" th:text="#{atencao}"></h3>
                </div>
                <div class="modal-body">
                    <span th:text="#{confirmacaodeexclusao}"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{nao}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{sim}"></button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>