<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
       xmlns:th="http://www.thymeleaf.org">

<head>
    <title>USUÁRIO</title>
    <script th:src="@{/js/cadastro/usuario/modalExcluir.js}"/>
</head>

<body>
    <section layout:fragment="conteudo">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12"> &nbsp; </div>
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/cadastro/usuario/list}">Usuario</a></li>
                            <li class="active">Detalhar Usuario</li>
                        </ol>

                        <h2>DETALHAR USUÁRIO</h2>
                        <hr />
                            <div class="form-group">
                                <h3>Informações básicas</h3>
                                <div class="well col-sm-12">
                                    <div class="col-sm-12">
                                        <label>Nome:</label> &nbsp; <span th:text="${usuarioDTO.nome}"/>
                                    </div>

                                    <div class="col-sm-12">
                                        <label>Login:</label> &nbsp; <span th:text="${usuarioDTO.login}"/>
                                    </div>

                                    <div class="col-sm-12">
                                        <label>Perfil:</label> &nbsp; <span th:text="${usuarioDTO.perfil}"/>
                                    </div>
                                </div>
                            </div>

                        <a th:href="@{/cadastro/usuario/edit/{id}(id=${usuarioDTO.id})}" class="btn btn-primary">Editar</a>
                        <a th:attr="data-id=${usuarioDTO.id}, data-nome=${usuarioDTO.nome}" data-toggle="modal" data-target="#modalExcluir"
                           class="btn btn-primary">Excluir</a>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" th:attr="data-url-base=@{/cadastro/usuario/delete/}" method="POST" id="formExcluir">
            <input type="hidden" value="Tem certeza que deseja excluir este usuario" id="mensagemExcluir"/>
            <div layout:include="modal"></div>
        </form>
    </section>
</body>
</html>