<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
       xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{usuario}"></title>
    <script th:src="@{/js/cadastro/usuario/form.js}"/>
</head>

<body>
    <section layout:fragment="conteudo">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12"> &nbsp; </div>
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a th:href="@{/home}" th:text="#{home}"></a></li>
                            <li><a th:href="@{/cadastro/usuario/list}" th:text="#{usuario}"></a></li>
                            <li class="active cadastrar" th:text="#{usuario.cadastrar}"></li>
                            <li class="active alterar" th:text="#{usuario.alterar}"></li>
                        </ol>

                        <div class="alert alert-danger" role="alert" th:if="${!#strings.isEmpty(error)}">
                            <span th:text="#{${error}}"></span>
                        </div>

                        <h2 class="cadastrar" th:text="#{usuario.cadastrar}"></h2>
                        <h2 class="alterar" th:text="#{usuario.alterar}"></h2>
                        <hr />

                        <div class="textoCamposObrigatorios">
                            <small class="col-sm-offset-10">(<span class="corVermelho">*</span>)
                                <span th:text="#{usuario.campo.obrigatorio}"></span> </small>
                        </div>

                        <form method="POST" th:action="@{/cadastro/usuario/save}" th:object="${usuarioDTO}" id="form">
                            <div class="form-group">
                                <h3 th:text="#{usuario.informacoes.basicas}"></h3>
                                <input type="hidden" th:field="*{id}" id="id"/>
                                <div class="well col-sm-12">
                                    <div class="col-sm-5">
                                        <label for="nome">
                                            <span class="corVermelho">*</span> <span th:text="#{usuario.nome}"></span>:</label>
                                        <input type="text" class="form-control" id="nome" th:field="*{nome}" name="nome" maxlength="120"
                                               th:placeholder="#{usuario.nome.placeholder}"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="login">
                                            <span class="corVermelho">*</span> <span th:text="#{usuario.login}"></span>:</label>
                                        <input type="text" class="form-control" id="login" th:field="*{login}" name="login" maxlength="50"
                                               th:placeholder="#{usuario.login.placeholder}"/>
                                    </div>

                                    <div class="col-sm-3 blocoEditar">
                                        <label for="senha">
                                            <span class="corVermelho">*</span> <span th:text="#{usuario.senha}"></span>:</label>
                                        <input type="text" class="form-control" id="senha" th:field="*{senha}" th:placeholder="#{usuario.senha.placeholder}"
                                            maxlength="10"/>
                                    </div>

                                    <div class="col-lg-12 blocoEditar"> &nbsp; </div>
                                    <div class="col-sm-3">
                                        <label for="perfil">
                                            <span class="corVermelho">*</span> <span th:text="#{usuario.perfil}"></span>:</label>
                                        <select id="perfil" class="form-control" th:field="*{perfil}" name="perfil">
                                            <option value="" th:text="#{usuario.select.perfil}"></option>
                                            <option th:each="perfil : ${listarPerfis}" th:value="${perfil}" th:text="#{${perfil.id}}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input id="salvar" type="submit" class="btn btn-primary" th:value="#{usuario.btn.salvar}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>