<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
       xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{avaliacao}"></title>
</head>

<body>
    <section layout:fragment="conteudo">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12"> &nbsp; </div>
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a th:href="@{/home}" th:text="#{home}"></a></li>
                            <li><a th:href="@{/template/avaliacao/list}" th:text="#{avaliacao}"></a></li>
                            <li class="active" th:text="#{template.avaliacao.tela.detalhar}"></li>
                        </ol>

                        <h2 th:text="#{template.avaliacao.tela.detalhar}"></h2>
                        <hr />
                            <div class="form-group">
                                <div class="well col-sm-12">
                                    <div class="col-sm-12">
                                        <label>
                                            <span th:text="#{template.avaliacao.titulo}"></span>:
                                        </label>&nbsp; <span th:text="${templateAvaliacaoDTO.titulo}"/>
                                    </div>

                                    <div class="col-sm-12">&nbsp;</div>
                                    <div class="col-sm-6">
                                        <label>
                                            <span th:text="#{template.avaliacao.aluno}"></span>:
                                        </label>
                                    </div>

                                    <div class="col-sm-6">
                                        <label>
                                            <span th:text="#{template.avaliacao.cpf}"></span>:
                                        </label>
                                    </div>

                                    <div class="col-sm-12">&nbsp;</div>
                                    <div class="col-sm-12">
                                        <label>
                                            <span th:text="#{template.avaliacao.modulo}"></span>:
                                        </label>
                                    </div>

                                    <div class="col-sm-12">&nbsp;</div>
                                    <div class="col-sm-12">
                                        <span th:text="#{template.avaliacao.texto.padrao}"></span>
                                    </div>
                                    <div class="col-sm-12">&nbsp;</div>
                                    <div class="col-sm-12">
                                        <span th:each="wrapper : ${perguntaAssociadaWrapperList}">
                                            <strong><span th:text="${wrapper.templateTopicoDTO.enunciado}"></span>:</strong>
                                            <span th:each="templatePergunta,status : ${wrapper.templatePerguntaDTOList}">
                                                <div class="col-sm-12">
                                                    <span th:text="${status.count + '.' }"></span>
                                                    <span th:text="${templatePergunta.questao}"></span>
                                                </div>
                                                <div class="col-sm-12" th:if="${!#strings.contains(templatePergunta.questao, '?')}">
                                                    <span th:each="multiplaEscolha : ${templatePergunta.multiplaEscolhaEnumList}">
                                                        <div class="col-sm-4">
                                                            <input type="radio" th:value="${multiplaEscolha}" disabled="disabled"/>
                                                            <span th:text="#{${multiplaEscolha.id}}"></span>
                                                        </div>
                                                    </span>
                                                    <div class="row">&nbsp;</div>
                                                    <div class="row">&nbsp;</div>
                                                </div>
                                            </span>
                                            <div class="row">&nbsp;</div>
                                            <div class="row">&nbsp;</div>
                                        </span>
                                    </div>

                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>