<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{avaliacao}"></title>
    <script th:src="@{/js/util/modalExcluir.js}"/>
</head>

<body>
<section layout:fragment="conteudo">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12"> &nbsp; </div>
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><a th:href="@{/home}" th:text="#{home}"></a></li>
                        <li class="active" th:text="#{avaliacao}"></li>
                    </ol>

                    <div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(sucess)}">
                        <span th:text="#{${sucess}}"></span>
                    </div>

                    <h2 th:text="#{avaliacao}"></h2>
                    <hr />

                    <!--<a th:href="@{/cadastro/usuario/create}" class="btn btn-primary" th:text="#{novo}"></a>-->

                    <div class="col-lg-12"> &nbsp; </div>

                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th th:text="#{template.avaliacao.titulo}"></th>
                            <th th:text="#{acao}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="templateAvaliacao : ${listarTemplateAvaliacao}">
                            <td th:text="${templateAvaliacao.titulo}"></td>
                            <td>
                                <a th:title="#{hint.detalhar}" class="btn btn-link btn-xs" th:href="@{/template/avaliacao/detail/{id}(id=${templateAvaliacao.id})}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                </a>
                                <a th:title="#{template.avaliacao.hint.associar.topico}" class="btn btn-link btn-xs" th:href="@{/template/avaliacao/edit/{id}(id=${templateAvaliacao.id})}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" th:if="${#lists.isEmpty(listarTemplateAvaliacao.content)}"><span th:text="#{nenhumregistroencontrado}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12  text-center" th:if="${not #lists.isEmpty(listarTemplateAvaliacao.content)}">
                    <nav>
                        <ul class="pagination  pagination-sm">
                            <li class="disabled">
                                <a href="#"><span>&laquo;</span></a>
                            </li>
                            <th:block th:each="p, status : ${#numbers.sequence(1, listarTemplateAvaliacao.totalPages)}">
                                <li>
                                    <a th:href="|?page=${p - 1}|"><span th:text="${status.count}"></span></a>
                                </li>
                            </th:block>

                            <li class="disabled">
                                <a href="#"><span>&raquo;</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>